

.bg-custom {
    background-image: url('https://c0.wallpaperflare.com/preview/902/404/8/blurred-background-close-up-colors-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
