@tailwind base;
@tailwind components;
@tailwind utilities;

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.form{
    width: 300px;
    height: 300px;
    max-width: 400px;
    background-color: aquamarine;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
