@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100;500&display=swap');
.navbar{
  height: 50px;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/04/17/bonfire-1867275_960_720.jpg");
  display: flex;
  justify-content: center;
  padding:5px 20px;
}
small{
  color: #f3f3f3;
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
}
.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}
span.logo h3 {
  font-family: 'Dancing Script', cursive;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer; 
  background-color: transparent;
  color: #ffffff;
  border-radius: 15px;
}
.navButton:hover{
  background-color: #183a6d;
}